apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    {{- include "wander-app.postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    {{- include "wander-app.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: database
